/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2015, 12:07:51 AM
    Author     : sarahshepherd
*/


canvas {
    display:block;
    margin:auto;
    border: 1px dashed black;
    background: url(images/bg.png);
  
    
}
h1{
   text-align: center; 
}


.mascot{
   position: absolute;
    top: 0px;
    right: 5px;
  
    
}